/* 
COLORS:
    #000046 - Dark Blue
    #1CB5E0 - Light Blue
*/

.bg {
    background: linear-gradient(#000046, #1CB5E0);;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.tite-text {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 50px;
    padding-bottom: 2.5vh;
}
.login-form, .create-account-form {
    border: 5px solid white;
    padding: 10% 10% 10% 10%;
    border-radius: 5%;
    margin-top: 20vh;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
.submit-button {
    background: transparent;
    border-color: #fff;
}
.submit-button:hover {
    background-color: #fff;
    border-color: #fff;
    color: #1CB5E0;
}
#createAccountBtn {
    margin-top: 2.5vh;
    background: transparent;
    border-color: #fff;
}
#createAccountBtn:hover {
    background-color: #fff;
    border-color: #fff;
    color: #1CB5E0;
}