/*Instructor CSS*/
.top-space-20{
	margin-top: 20px;
}
#id-table {
	
}
.delete{
	fill: red;
}
.delete:hover {
	cursor: pointer;
	background-color: #ff9993;
	fill: red;
}
.minus-frame {
	fill: inherit;
}
.minus-symbol {
	fill: inherit;
	stroke:black;
	stroke-width:2;
	opacity:1

}