@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
.navbar-brand h1
{
    font-family: 'Roboto Condensed', sans-serif;
	color: #eee;
	font-size: 50px;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
}

body {
	background-color: #001f51;
	min-width: 525px;
}
.navbar{
	height: 56px;
}
#main {
	/*nav height = 56, margin-top=20, 56+20=76*/
	height: calc(100vh - 76px);
}
#main h1{

}

#selector-table {
	border-radius: 5px;
	padding: 20px;
	background-color: white;
	margin-top: 20px;
}


